<div class="container">
  <img src="assets/images/logo.jpg" class="img-responsive" 
    width="120px" height="100px" />
  <img src="assets/images/cart.jpg" class="img-responsive float-right" width="85px" height="100px"/>
</div>

<div class="container">
  <nav class="navbar bg-dark navbar-expand-sm">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="#" class="nav-link">Home</a>
      </li>
      
      <li class="nav-item">
        <a href="#" class="nav-link">Biographies</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Business</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Sign In</a>
      </li>
    </ul>
  </nav>
</div>
<br>
<br>
<!-- <book-list></book-list> -->
<!-- <book-details></book-details> -->
<customer-registration></customer-registration>
<!-- <customer-login></customer-login> -->
<br>
<br>
<div class="container">

  <footer class="bg-dark" style="color:white">
    <div class="text-center">
      <span>Website created by Akash Singh</span>
      <br>
      <span>Copyright &copy; 2019 <a href="#">www.e-commerce.com</a> </span>
    </div>
  </footer>
</div>